<div class="stuff">
      <header>
          <h2>Login: <%= link_to image_tag('facebook_32.png'), new_volunteer_url %></h2>
          <p>You like your <span>friends</span>.</p> 
          <p>You like helping <span>others</span>.</p>
          <p>Let's do both.</p>
          <h1>Voluntr.<span>ME</span></h1>
      </header>
      
      <div class="blank_box"></div>
      
</div>
    