<div class="stuff">
      <header>
          <p>Login: <%= link_to image_tag('facebook_32.png'), new_volunteer_url %></p>
          <p>You like your <span>friends</span>.</p> 
          <p1>You like helping <span>others</span>.</p1>
          <p1>Let's do both.</p1>
          <h1>Voluntr.<span>ME</span></h1>
      </header>
      
      <div class="blank_box"></div>
      
</div>
    