<h1>Thank you for Signing Up!</h1>

<%@registration.event_id = params[:event_id]%>
<%@registration.volunteer_id = session[:volunteer]%>
<%@registration.save%>

<%= link_to "My Profile", volunteer_path(session[:volunteer]) %>

<p><%= link_to "Organizations", organizations_url%> | <%= link_to "Events", events_url %></p>
