<% @volunteer ||= current_volunteer %>
<div class="stats">
 <p> <a href="<%= following_volunteer_path(@volunteer) %>">
    <strong id="following" class="stat">
      <%= @volunteer.followed_volunteers.count %>
    </strong>
    following</a> |   
  <a href="<%= followers_volunteer_path(@volunteer) %>">
    <strong id="followers" class="stat">
      <%= @volunteer.followers.count %>
    </strong>
    followers</a></p>
</div>