<div class="body"> 

  <div class="main">
    <div class="table_field">
      <div class="feed">
        <h3>Volunteer with your friends!</h3>
  	    <%= render "shared/feed" %>
  	  </div>  
  	</div>    
			<% @events.each do |event| %>
				<div class="table_field">	
			      <h3>Best Event Ever</h3>
						<p>Loren ipsum text for the win and now it is done or is it maybe now its fun!</p>
            <p><%= link_to "More", event %></p><br>
						<p> MWF 7am -9am</p>	
			      <p class="register">F(icon) <button type="button"><%= link_to "Register", new_registration_url(event_id: event.id, volunteer_id: session[:volunteer_id]) %></button></p>		
				</div>
	  	<% end %>
  </div> <!-- main -->
</div> <!-- event -->


