<div class="event"> 

	
	<div class = "table_body">
	  <table>
	    <tr>
	      <th>Name</th>
	      <th>Organization</th>
	      <th>Location</th>
	      <th>Category</th>
	    </tr>

	  <% @events.each do |event| %>
	    <tr>
	      <td><%= link_to event.name, event %></td>
	      <td><%= event.organization.name %></td>
	      <td><%= event.location %></td>
	      <td><%= event.category %></td>
	    </tr>
	  <% end %>
	  </table>
	</div>
	
</div>