header {
	height: 100px;
}


header p {
	background: #FF2E2E;
	font-size: 46px;
	line-height:88px;
	color: white;
	height: 100px;
	position: relative;
	margin-top: 0; 
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0 0 0 0 ;
	max-width: auto;
	text-align: left;
	font-family: 'Helvetica';
	text-decoration: none;
}
div {

}

#user_nav {
	color: white;
	font-size: 14px;
	position: absolute;
	float: right;
	text-decoration: none;
	margin: -40px 0 0 1200px ;
}

#user_nav a {
	color:white;
}

#search {	
	float: right;
	position: absolute;
	margin: -65px 0 0 1145px;
	color: white;
}
