/*global*/

#wrapper { 
	width:940px; 
	margin: 0 auto -10px; 
	position:relative; 
	text-align:left; 
}

html {
	background:#f4f4f4;
}

/*header*/


div.header div.clear {
	clear:both;
}

div.header {
	background: red;
	padding: 10px;
	border-radius:5px;
}

div.header a {
	text-decoration:none;
}

div.header a:hover {
	color:black;
}

div.header li {
	list-style:none;
}


div.header h1 {
  float: left;
  font: 700 40px/50px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  letter-spacing: -1px;
  margin: 0;
}

div.header div#search {
	float:right;
}


div.header div#header input {
	position:relative;
}

div.header div#user_nav {
	float:right;
}

div.header p.notice {
	color: white; 
	background: red; 
	padding: 4px
}

/* event index */
div.event {
	padding:10px;
	background: #00A523;
	border-radius:10px;
}

/*div.event div.left_sidebar {
	float:left;
	width:60px;
	height:all;
}

div.event div.left_sidebar p {
	margin-left:5px;
	margin-right:5px;
}*/

table {
  width: 100%;
  border-top: solid 1px;
  margin-top: 24px;
}

table, td, th  {
  border-collapse: collapse;
  padding: 12px;
}

td a {
	text-decoration:none;
	color:blue;
}

td a:hover {
	color:black;
}

th {
 	border-top: solid 2px;
	text-align:center;
}

tr {
  border-bottom: solid 1px;
}

td {
  color: blue;
  text-align: center;
}