/*global*/

#wrapper { 
	width:960px; 
	margin: 0 auto -10px; 
	position:relative; 
	text-align:left; 
	box-shadow: 2px 0px 2px gray, -2px 0px 2px gray;
}

html {
	background:#91F48C;
}

.clear {
	clear:both;
}

/*header*/


div.header {
	background: #B70000;
	padding: 10px;
	border-radius:5px;
	background: #B70000;
	background: -moz-linear-gradient(top, #F42200, #B70000);
	background: -ms-linear-gradient(top, #F42200, #B70000);
	background: -o-linear-gradient(top, #F42200, #B70000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F42200), to(#B70000));
	background: -webkit-linear-gradient(top, #F42200, #B70000);
	background: linear-gradient(top, #F42200, #B70000	);
	h1 {
		float:left;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		letter-spacing:2px;
	}
	a {
		text-decoration:none;
	}
	a:hover {
		color:#FFCA3D;
	}
	li {
		list-style:none;
	}
	h1 a {
		color:white;
	}
	#search {
		float:right;
		a {
			color:white;
			margin-left:20px;
		}
	}
	p.notice {
		color:white;
		background:blue;
	}
}

/* event index */

div.event {
	width:960px;
	background: #00A523;
	.facebook {
		background:#0092B2;
		background: -moz-linear-gradient(top, #00A4F4, #0092B2);
		background: -ms-linear-gradient(top, #00A4F4, #0092B2);
		background: -o-linear-gradient(top, #00A4F4, #0092B2);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00A4F4), to(#0092B2));
		background: -webkit-linear-gradient(top, #00A4F4, #0092B2);
		background: linear-gradient(top, #00A4F4, #0092B2	);
		float:left;
		width:100px;
		height:3300px;
		p {
			margin:18px;
		}
		ul {
			padding:0;
			margin:5px;
		}
		li {
			list-style:none;
		}
	}
	.table_body {
		background:white;
		float:left;
		width:860px;
	}
}

/* Table */

table {
  width: 100%;
  border-top: solid 1px;
  margin-top: 24px;
	a {
		text-decoration:none;
		color:blue;
	}
	a:hover {
		color:black;
	}
	td, th  {
  	border-collapse: collapse;
  	padding: 12px;
	}
	th {
 		border-top: solid 2px;
		text-align:center;
	}
	tr {
  	border-bottom: solid 1px;
	}
	td {
  	color: blue;
  	text-align: center;
	}
}