html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: helvetica;
  height: 45px;
	width:100%;
}

.stuff {
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 0px auto;
  width:100%;
}

header {
  height: 360px;
  padding: 20px;
  position: relative;
}

header p {
	font-size: 45px;
	margin: 100px 0 0 0;
}

header p span {
	font-weight: bold;
}

header p {
	font-size: 45px;
	margin:0;
	padding:0;
}

header h2 {
	font-size:60px;
	margin-bottom:185px;
}

header p span {
	font-weight: bold;
}

header h1 {
  float: right;
  font: bold 60px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header h1 span{
  color: #F22E2E;
  font-weight: normal;
}
header h1 a {
  color: black;
  text-decoration: none;
}
header ul {
  margin: 0 0 0 45px;
}
header li {
  float: left;
  line-height: 30px;
  font-size: 20px;
  margin: 150px 10px 0 0;
  
}
header li a {
  text-decoration: none;
  line-height: 50px;
}

.blank_box {
	background: #013D59;
	height: 360px;
	width: 100%;
	position: top;
}

/*footer*/

footer {
	border: 1px solid #ccc;
}

nav {
  height: 20px;
  border: 1px solid #e3e3e3;
  border-width: 1px 0;
  margin: 0 6px 10px 6px;
  line-height: 20px; 
  font-size: 14px;
  background: -webkit-linear-gradient(top, #fff, #ddd);
}

nav a:hover {
  color: #E71A1A;
}
nav li {
  float: right;
  margin: 0 10px;
}
nav a {
  text-decoration: none;
  float: left;
  color: black;
}

.eimg {
	text-align:center;
}

.main {
	background:white;
}

.f {
	float:left;
	font-size:20px;
	margin-left:580px;
}

.eheadline {
	background:white;
	float:left;
}
.e {
	width:1300px;
	background:orange;
}
.ee {
	width:200px;
	float:left;
	background:orange;
	margin-left:200px;
}

.ee a {
	color:white;
	text-decoration:none;
}

.ehome {
	background:white;
	margin-left:530px;
	text-align:center;
	background:orange;
}

.ehome a {
	color:red;
	text-decoration:none;
}

.ehome h1 {
	font-size:30px;
}